@using Dominio.Entidades;


<h1>Mi Perfil</h1>

<p>@Model.Nombre</p>
<p>@Model.Apellido</p>
<p>@Model.FIncorporacion</p>
<p>@Model.Equipo.Nombre</p>

<h2>Este Mes Gastaste:</h2> 
<p>@ViewBag.gastoUsuarioXMesX.ToString()</p>

